<h1> Welcome to Super Rentals </h1>

We hope you find exacly what you're looking for in a place to stay.

<h2> Available Rentals </h2>

<ul>
  {{#each model.rentals as |rental|}}
    {{rental-tile rental=rental}}
  {{/each}}
</ul>

{{new-rental save2="save3"}}

<h2> Cities </h2>

<ul>
  {{#each model.cities as |city|}}
    {{city-tile city=city destroyCity="destroyCity"}}
  {{/each}}
</ul>

{{new-city save2city="save3city"}}

<hr>

{{#link-to 'about'}}About{{/link-to}}
{{#link-to 'contact'}}Contact{{/link-to}}
